@import '../sass/variables.scss';

header{
  display: grid;
  place-items: center;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 50px;
  grid-row-gap: 0px; 
  font-size: 2rem;
  color: $red;
  h1{
    width: 100%;
  }
}

.search{
  background-color: transparent;
  border: 2px solid $white;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  font-size: 1.5rem;
  font-family: inherit;
  color: $white;
}
