@import '../sass/variables.scss';


.titles{
  display: flex;
  justify-content: flex-end;
}

.title h1{
  font-size: 1.5rem;
}
.articles{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.cardGame{
  border-radius: 8px;
  width: 30rem;
  margin: 1rem;
  color: $third-color;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
}

.cardGame a{
  text-decoration: none;
  font-size: larger;
}

.cardGame img{
  width: 100%;
  border-radius: 8px;
  aspect-ratio: 16/9;
  background-size: cover;
  background-position: center;
  margin: 0;
}
.links{
  display: flex;
  justify-content: center;
}

.overview{
  position:  absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $third-color;
  color: $primary-color;
  padding: 1rem;
  max-height: 100%;
  transform: translateY(100%);
  transition: transform 0.5s ease-in;
}
.overview p{
  color: rgb(44, 102, 177);
}

.cardGame:hover .overview{
  transform: translateY(0);
}

